@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.cont-txt {
  border: 0;
  overflow: hidden;
  background: 0 0!important;
  max-width: 800;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 42px;
}

h1 {
  font-size: 55px;
  font-family: 'Roboto Slab', serif;
  color: #999;
}

.cont-txt p {
  margin-top: 20px;
}

.cont-txt span {
  background: #CECECE;
  font-family: arial, sans-serif;
  font-size: 10px;
  line-height: 20px;
  height: auto;
  color: transparent!important;
  margin-top: 55px;
}

hr {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #EE283D;
}

.wrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: #F2F2F2;
  margin: auto;
}

.bar {
  position:fixed;
  height: 40px;
  width: 100%;
  background: #44B6EC;
  z-index: 4;
  top:0;
}

.menu-espanso {
  background-color: transparent;
  position: fixed;
  width: 270px;
  height:100%;
  top: 0px;
  right: 0px;
  overflow: hidden !important;
  z-index: 5;
}

.menu,
.linee {
  cursor: pointer;
}

.menu {
  float: right;
  margin: 15px 15px 0 0;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: #EE283D;
  border: none;
  transition: all 0.40s ease-out;
}

.over {
  transform: scale(100);
  transition: all 0.350s ease-in;
  cursor: default;
}

.linea1 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 33px;
  transition: all 0.3s;
}

.linea2 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 38px;
  opacity: 1;
  transition: opacity 0.5s;
}

.linea3 {
  background: #fff;
  height: 2px;
  width: 15px;
  position: absolute;
  right: 33px;
  top: 43px;
}

.overL1 {
  animation: closetop 1s forwards;
  animation-direction: alternate;
  cursor: pointer;
}

.overL2 {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.overL3 {
  animation: closebottom 1s forwards;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes closetop {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  25% {
    transform: translateY(5px) rotate(0deg);
  }
  75% {
    transform: translateY(5px) rotate(-45deg);
  }
  100% {
    transform: translateY(5px) rotate(-45deg);
  }
}

@keyframes closebottom {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) rotate(0deg);
  }
  75% {
    transform: translateY(-5px) rotate(45deg);
  }
  100% {
    transform: translateY(-5px) rotate(45deg);
  }
}

.voci-menu {
  visibility: hidden;
  position: absolute;
  right: 50px;
  top: 160px;
  opacity: 0;
  transition: all 0.300s;
  transition-delay: 0s;
}

.overvoci {
  visibility: visible;
  opacity: 1;
  transition: all 0.400s;
  transition-delay: 0.370s;
}

.voci-menu ul {
  list-style-type: none;
}

.voci-menu ul li {
  margin: 20px 0px;
}

.voci-menu ul li a {
  float: right;
  text-decoration: none;
  color: white;
  background-color: #DB0024;
  margin-top: 20px;
}

.voci-menu ul li a:hover {
  opacity: 0.7;
}

.footer {
  position: relative;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  background: #5F5F5F;
  width: 100%;
  height: 150px;
}

.footer div {
  width: 200px;
  text-align: center;
}

.footer div ul {
  list-style-type: none;
}

.footer div ul li span {
  text-align: center;
  text-decoration: none;
  color: transparent;
  background-color: #999;
  margin-top: 10px;
  display: inline-block;
}